body {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    background-color: #836A71;
}


.hidden {
    display:none;
}


@media (max-width:768px){
    .class="l-grid" {
    width:100%!important;

    }
}

/*containers====================================*/

.l-container{
    max-width: 1024px;
    min-width:768px;
    margin:0 auto
}


/*layouts =================================================*/
.c-section {
    padding: 100px;
    padding-bottom: 80px;
}

.c-section--alt {
    background-color: #343536;
}



.l-grid {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: -1rem;
}

.l-grid__item {
    flex-basis: auto;
    padding-left: 1rem;
}

.l-grid__item--4-col {
    width:33.3%;
}

.l-grid__item--3-col {
    width: 25%;
}

/* Vertical Gutter */
.l-grid--gutter-vertical-large {
    margin-bottom: -60px;
}

.l-grid--gutter-vertical-large > .l-grid__item {
    margin-bottom: 60px;
}

/* Horizontal Gutter */

.l-grid--gutter-horizontal-large {
    margin-left: -60px;
}

.l-grid--gutter-horizontal-large > .l-grid__item {
    padding-left: 60px;
}


/*components===================================================*/

.c-logo {
    display: block;
    margin: 0 auto 80px;
    width: 200px;
    height: 237px;
}

.c-logo__image {
    max-width: 100%;
}

.tagline {
    text-align: center;
    color: #fff;
    font-family: niveau-grotesk, sans-serif;
    font-weight: normal;
    font-style: oblique;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:30%;
    margin-right:30%;

}

.headline {
    text-align: center;
    color: #fff;
    font-family: niveau-grotesk, sans-serif;
    font-weight: normal;
    font-style: oblique;
    border-bottom: 2px solid #836A71;
    border-top: 2px solid #836A71;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:29%;
    margin-right:29%;
    letter-spacing:1px;
    margin-bottom:60px;
}


/* Card
===================================================*/

.c-card {
    position: relative;
}

.c-card__link {
    text-decoration: none;
    font-family: niveau-grotesk, sans-serif;
    color: #fff;
    font-size: 14px;
}

.c-card__image {
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0 0;
}

.c-card__title {
    border-bottom: 3px solid #836A71;
    border-top: 3px solid #836A71;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.c-card:hover .c-card__title {
    background-color: #836A71;
    transition: 1s;
}

.social-small {
    fill:#B97C8D;
    margin-top:25%;
    height:25px;
    width:25px;
    position:absolute;
    bottom:11px;

}

.social-small:hover{
    transition:fill .3s ease;
    fill:#EEECD5;
}

.social-small__facebook {
    right:32px;
}

.social-small__twitter {
    right:5px;
}


.social-large {
    margin-left:33.3%;
    fill:#B97C8D;
    width:50px;
    height:50px;
}

.social-large:hover{
    transition:fill .3s ease;
    fill:#EEECD5;
}