header {
    background-color:#836A71;
}


body {
    font-family: niveau-grotesk, sans-serif;
font-style: normal;
font-weight:200;
background-color:#343536;

}

footer {
    background-color:#836A71;
}
.hidden {
    display:none;
}

/*containers====================================*/

.l-container{
    max-width: 1024px;
    min-width:768px;
    margin:0 auto
}

.l-container__small {
    max-width:800px;
}

.l-container__mid {
    max-width:900px;
}


/*layouts =================================================*/
.l-header {
    padding:100px;
    padding-bottom:80px;
}

.l-grid {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: -1rem;
}

.l-grid__item {
    flex-basis: auto;
    padding-left: 1rem;
}

.l-grid__item--4-col {
    width:33.3%;
}

.l-grid__item--3-col {
    width:25%;
}


.l-grid--gutters-small {
    marginaleft: -0.5rem
}

.-grid--gutters-small .l-grid__item {
    Padding-left: 0.5rem;
}

/*components===================================================*/

.c-header {
    background-color:#836A71;
}

.c-logo {
    text-align:center;

}

.c-logo__image {

width:200px;
height:200px;
}

.tagline {
    text-align:center;
    color:#EEECD5;
    font-family: niveau-grotesk, sans-serif;
    font-weight:normal;
    font-style:oblique;
    padding:30px;

}

.roster {
    text-align:center;
    font-family: niveau-grotesk, sans-serif;
    font-weight:normal;
    font-style:oblique;

}

.c-card{
    position:relative;
    margin-bottom: 60px;
    padding:30px;

}

.c-card__link{
    text-decoration:none;
    font-family: niveau-grotesk, sans-serif;
    font-weight:normal;
    color:#EEECD5;
    font-size:14px;


}

.c-card__image {
    display:block;
    width:100%;
    height:230px;
    border-radius:30px;
}

.c-card__title {
    background-color:#836A71;
    padding:10px;
    border-radius:10px;
    margin-top:10px;

}

.social-small {
    fill:#B97C8D;
    margin-top:25%;
    height:25px;
    width:25px;
    position:absolute;
    bottom:38px;
}

.social-small:hover{
    transition:fill .3s ease;
    fill:#EEECD5;
}

.social-small__facebook {
    right:62px;
}

.social-small__twitter {
    right:37px;
}

.l-footer {
    padding:100px;
    padding-bottom:80px;
}

.l-footer__top {
    padding-bottom:10px;
}
.social-large {
    margin-left:33.3%;
    fill:#B97C8D;
    width:50px;
    height:50px;
}

.social-large:hover{
    transition:fill .3s ease;
    fill:#EEECD5;
}