@media (max-width: 1023px) {
    .l-grid__item--6-col-tablet {
        width: 50% !important;
    }

    .c-section {
        padding: 50px;
    }
}



@media (max-width: 760px) {
    .l-grid__item--12-col-phone {
        width: 100% !important;
    }

    .c-twitter-feed {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .c-section {
        padding: 25px;
    }
}


