// Colours

// Purples
$g-color-purple-500: #836a71;
$g-color-purple-300:#b97c8d;
// charcoal
$g-color-charcoal-400: #343536;
//yellow
$g-color-yellow-200:#eeecd5;
//white
$g-color-white-000:#fff;


$g-color-primary: $g-color-purple-500;

$g-color-secondary: $g-color-charcoal-400;

$g-color-tertiary: $g-color-purple-300;

$-color-quarternary:$g-color-yellow-200;

$-color-quinary:$g-color-white-000;
