/*
* Settings
*/

/*  for white theme: border color= $g-color-six
    for all other themes : border color= $g-color-primary
*/

$c-card-background-color: $g-color-tertiary;

$c-card-border: $g-border-thickness solid $g-color-primary;


/*
* Base
*/

.c-card {
    position: relative;
}

.c-card__link {
    color: $g-color-quinary;
    text-decoration: none;
}


.c-card__image {
    display: block;
    height: auto;
    max-width: 100%;
    transition: transform 0.4s ease;
    width: 100%;
}

.c-card__title {
    border-bottom: $c-card-border;
    border-top: $c-card-border;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.c-card:hover .c-card__title {
    background-color: $c-card-background-color;
    color: $g-color-white;
    font-weight: 400;
    transition: 0.4s;
}

.c-card:hover .social-small {
    fill: $g-color-primary;
}

// 1. Fixes bug in Chrome and Safari with border-radius and
// scale: http://stackoverflow.com/questions/25891362/transition-on-transform-with-border-radius-and-overflow-hidden-doesnt-work-in-s
.c-card__zoom-wrapper {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transform: translateZ(0); // [1]
}

.c-card:hover .c-card__image {
    filter: grayscale(100%);
    transform: scale(1.3);
}
