.c-social {
    display: block;
    text-align: center;
}

.c-social__icon {
    fill: $g-color-tertiary;
    height: 50px;
    transition: all 0.3s ease;
    width: 50px;
}

.c-social:hover .c-social__icon {
    fill: $g-color-quinary;
    height: 52px;
    width: 52px;
}
