.social-small {
    bottom: 11px;
    fill: $g-color-tertiary;
    height: 25px;
    margin-top: 25%;
    position: absolute;
    transition: all 0.3s ease;
    width: 25px;
}

.social-small:hover {
    fill: $-color-quarternary;
    height: 27px;
    width: 27px;
}

.social-small__facebook {
    right: 32px;
}

.social-small__twitter {
    right: 5px;
}