.social-large {
    fill: $g-color-tertiary;
    height: 50px;
    margin-left: 33.3%;
    transition: all 0.3s ease;
    width: 50px;
}

.social-large:hover {
    fill: $-color-quarternary;
    height: 52px;
    width: 52px;
}