/*
for white theme : border; use $g-color-six
for all others  : border; use $s-color-secondary
*/

$tagline-border: $g-border-thickness solid $g-color-secondary;

.tagline {
    border-bottom: $tagline-border;
    border-top: $tagline-border;
    color: $g-color-charcoal-200;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    min-width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform:uppercase;
    width: 40%;
}

.tagline--alt {
    border-color: $g-color-primary;
    margin-bottom: 60px;
}

@include bp(small) {
    .tagline {
        min-width: auto;
        width: 100% !important;
    }
}
